        <!-- Start About Us Section -->
        <div class="section-modal modal fade" id="about-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                
                <div class="container">
                    <div class="row">
                        <div class="section-title text-center">
                            <h3>Acerca de Nosotros</h3>
                            <h2>SISMMOC - Sistema de Monitoreo Climatico</h2>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="custom-tab">                    
                            <ul class="nav nav-tabs nav-justified" role="tablist">
                                <li class="active"><a href="#tab-1" role="tab" data-toggle="tab"><h2>Misión</h2></a></li>
                                <li><a href="#tab-2" role="tab" data-toggle="tab"><h2>Visión</h2></a></li>
                            </ul>
                            <div class="tab-content text-center">
                                <div class="tab-pane active" id="tab-1">
                                    <h3>Proveer pronósticos, alertas e información del estado del tiempo y del clima estratégica y útil para el país, que sustente la toma de decisiones.</h3>
                                </div>
                                <div class="tab-pane" id="tab-2">
                                    <h3>Seremos reconocidos por la sociedad como una organización efectiva y moderna que proporciona información confiable, útil y oportuna sobre meteorología y climatología para contribuir a una adecuada prevención y toma de decisiones, aplicando innovaciones tecnológicas y avances científicos con personal altamente calificado.</h3>
                                </div>
                            </div><!-- /.tab-content -->
                        </div>
                    </div>
                    <br>
                    <hr>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="skill-shortcode">
                        
                                <!-- Progress Bar -->
                                <div class="skill">
                                    <p>Web Design</p>          
                                    <div class="progress">         
                                        <div class="progress-bar" role="progressbar"  data-percentage="95">
                                            <span class="progress-bar-span" >95%</span>
                                            <span class="sr-only">95% Completo</span>
                                        </div>
                                    </div>  
                                </div>

                                <!-- Progress Bar -->
                                <div class="skill">
                                    <p>HTML & CSS</p>          
                                    <div class="progress">         
                                        <div class="progress-bar" role="progressbar"  data-percentage="95">
                                            <span class="progress-bar-span" >95%</span>
                                            <span class="sr-only">95% Completo</span>
                                        </div>
                                    </div>  
                                </div>

                                <!-- Progress Bar -->
                                <div class="skill">
                                    <p>Node JS</p>          
                                    <div class="progress">         
                                        <div class="progress-bar" role="progressbar"  data-percentage="90">
                                            <span class="progress-bar-span" >90%</span>
                                            <span class="sr-only">90% Completo</span>
                                        </div>
                                    </div>  
                                </div>

                                <!-- Progress Bar -->
                                <div class="skill">
                                    <p>Angular</p>          
                                    <div class="progress">         
                                        <div class="progress-bar" role="progressbar"  data-percentage="80">
                                            <span class="progress-bar-span" >80%</span>
                                            <span class="sr-only">80% Completo</span>
                                        </div>
                                    </div>  
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                        <div class="col-md-12">
                            <div class="about-text" align="justify">
                                <h3>SISMMOC ofrece un sistema de control de varias estaciones meteorologicas las cuales permiten monitorear las diferentes variables climatologicas que influyen en la atmosfera de tal forma que se conoszca el clima actual en determinados lugares.</h3>
                                <div class="row">
                                    <div class="col-md-6 col-sm-8">
                                        <ul>
                                            <li><i class="fa fa-check-square"></i>Monitoreo Climatico en tiempo real</li>
                                            <li><i class="fa fa-check-square"></i>Dashboard de datos meteorologicos</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6 col-sm-8">
                                        <ul>
                                            <li><i class="fa fa-check-square"></i>Historial de Actividades</li>
                                            <li><i class="fa fa-check-square"></i>Reportes sobre lecturas sensoriales</li>
                                        </ul>
                                    </div>
                                </div><!-- /.row -->
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <!-- End About Us Section -->
        