<% include ../views/cabecera.html %>
<section class="content" ng-app="appHistorial">
    <div ng-controller="gestionHistorial">
      <div class="row">
        <div class="col-xs-12">
          <div class="box box-primary">
            <div class="box-header">     
             <h2 class="box-title"><b>HISTORIAL</b></h2>
              <div class="row col-md-12 col-md-offset-3">
	            <div class="col-md-3">
	              	<select class="form-control" id="IdTipo">
	                    <option>- Ninguno -</option>
	                    <option value="1">Informativo</option>
	                    <option value="2">Danger</option>                    
	                </select>
	            </div>
                <div class="col-md-6 ">
                  <div class="input-group">
                    <span class="input-group-addon">Buscar: </span>
                    <input type="text" class="form-control" placeholder="Buscar" ng-model="buscarHistorial.buscar" ng-keyup="buscarHist()">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default btn-flat"><i class="fa fa-search" ></i></button>
                    </span>
                  </div>
                </div>
              </div>
            </div>   
            <div class="box-body box-primary">
              <table id="tablausuarios" class="table table-bordered table-striped">
                <thead>
                <tr>
                	<th></th>
		            <th>Fecha</th>
		            <th>Hora</th>
		            <th>Usuario</th>
		            <th>Asunto</th>
                </tr>
                </thead>
                <tbody id="bodytablaempresa">
                <tr ng-repeat="historial in historials | startFromGrid: currentPage * pageSize | limitTo: pageSize">
                	<td ng-if="historial.hist_nivel == '1'"><i class="fa  fa-info-circle fa-lar text-blue"></i></td>
                	<td ng-if="historial.hist_nivel == '2'"><i class="fa  fa-warning fa-lar text-yellow"></i></td>
                	<td>{{ historial.hist_fecha }}</td>
                  	<td>{{ historial.hist_hora }}</td>
                  	<td>{{ historial.usu_nombre }} {{ historial.usu_apellido }}</td>
                  	<td>{{ historial.hist_asunto }}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class=" text-center">
              <!-- Navegar hacia atrás -->
              <button class="btn btn-primary " type='button' ng-disabled='currentPage <= 0' ng-click='currentPage = currentPage - 1'><i class="fa  fa-backward fa-lar"></i></button>
              <div class="btn-group">
              <!-- Navegar a una página especifica-->
              <button class="btn btn-primary  " type='button' ng-disabled='currentPage == page.no - 1' ng-click='setPage(page.no)' ng-repeat='page in pages'>{{page.no}}</button>
              </div>
              <!-- Navegar hacia adelante -->
               <button class="btn btn-primary " type='button' ng-disabled='currentPage >= historials.length/pageSize - 1' ng-click='currentPage = currentPage + 1'><i class="fa fa-forward fa-lar"></i></button>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
    </div>
</section>
<script type="text/javascript" src="js/controllers/historialController.js"></script>
<% include piePagina.html %>